:root { --html-font-name: Menlo; --code-font-name: Menlo; --html-font-size: 16px; --html-header-alignment: left; --html-text-align: justify; }
html { text-rendering: optimizeLegibility !important; }
h1, h2, h3 { -webkit-hyphens: none !important; }
img, pre, blockquote, table, figure { page-break-inside: avoid; }

body
{
    font-family: var(--html-font-name), Helvetica Neue, Georgia, serif;
    font-size: var(--html-font-size) !important;
    line-height: 1.4em !important;
    text-align: var(--html-text-align);
    background-color: white !important;
    color: black !important;
    padding: 2em !important;
    width: 90% !important;
}

h1, h2, h3, h4, h5, h6
{
    page-break-after: avoid !important;
    page-break-inside: avoid !important;
    text-align: var(--html-header-alignment);
}

li.selected
{
    color: #cccccc;
    text-decoration: line-through;
    list-style-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMycgaGVpZ2h0PScxMyc+IDxyZWN0IHN0cm9rZT0nI2NjY2NjYycgc3Ryb2tlLXdpZHRoPScwLjUnIHN0cm9rZS1taXRlcmxpbWl0PScxMCcgZmlsbD0nI0ZGRkZGRicgeD0nMC4yNScgeT0nMC4yNScgd2lkdGg9JzEyLjUnIGhlaWdodD0nMTIuNScgcng9JzInIC8+PGcgdHJhbnNmb3JtPSd0cmFuc2xhdGUoNywgNikgcm90YXRlKDQ1KScgZmlsbD0nIzEzOWFmZicgc3Ryb2tlPSdub25lJz48cmVjdCB4PSctMycgeT0nMicgd2lkdGg9JzUnIGhlaWdodD0nMicgcng9JzEnIC8+PHJlY3QgeD0nMCcgeT0nLTMuNScgd2lkdGg9JzInIGhlaWdodD0nNycgcng9JzEnIC8+PC9nPjwvc3ZnPg==");
}

li.unselected
{
    list-style-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMycgaGVpZ2h0PScxMyc+IDxyZWN0IHN0cm9rZT0nI2NjY2NjYycgc3Ryb2tlLXdpZHRoPScwLjUnIHN0cm9rZS1taXRlcmxpbWl0PScxMCcgZmlsbD0nI0ZGRkZGRicgeD0nMC4yNScgeT0nMC4yNScgd2lkdGg9JzEyLjUnIGhlaWdodD0nMTIuNScgcng9JzInIC8+PC9zdmc+");
}

hr
{
    color: #E0E0E0;
    background-color:#E0E0E0;
    border-color: #E0E0E0;
}

pre, code
{
    font-family: var(--code-font-name), ui-monospace, "Lucida Console", "Consolas", "Menlo", "Monaco", "Courier", monospace;
    color: inherit;
    background: #FAFAFA !important;
    line-height: 1.4em;
}

blockquote
{
    margin-left: none;
    margin-right: auto;
    width: 96%;
    padding-left: 0.3em;
    border-left: 3px solid darkgrey;
    color: darkgrey;
}

table
{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-spacing: 0;
    background-color:transparent;
}

table th
{
    padding: 3px 10px;
    border-top: 1px solid;
    border-left: 1px solid;
    
    background-color: #eeeeee;
    border-color: #dddddd;
}

table td
{
    padding: 3px 10px;
    border-top: 1px solid;
    border-left: 1px solid;
    border-color: #dddddd;
}

mark
{
    background-color: yellow;
}

/* Common style. No colors here, just layout. */

html
{
    -webkit-font-smoothing: antialiased;
}

@media only screen and (min-device-width: 320px)
{
    /* iPhone */
    
    #content
    {
        margin: 15px auto 4em auto;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}

@media screen and (min-device-width: 570px)
{
    /* iPad */
    
    #content
    {
        margin: 35px auto 4em auto;
    }
}

body
{
    width: 99.9%;
    margin: 0;
    padding:0;
    border: 0;
    line-height: 1.8em;
    word-wrap: break-word;
}

#content
{
    -webkit-text-size-adjust: none;
}

/* Disable margin for the very first element in the tree. */
#content > *
{
    margin-top: 0;
}

h1, h2, h3, h4, h5, h6
{
    text-rendering: optimizeLegibility;
    margin: 1.5em 0 0.5em 0;
}

h1
{
    font-size:1.5em;
}

h2
{
    font-size:1.3em;
}

h3
{
    font-size:1.2em;
}

h4, h5, h6
{
    font-size:1.0em;
}

p
{
    margin:1em 0 1em 0;
}

p:last-child
{
    margin:0;
}

hr
{
    width: 100%;
    margin: 3em auto;
    border: 0;
    height: 1px;
}

/* List elements */

ol
{
    list-style: inside decimal;
}

ul
{
    list-style: inside disc;
}

li > ul
{
  list-style: inside circle;
}

li > ul > li > ul
{
  list-style: inside square;
}

ol, ul
{
    padding-left:0;
    margin-bottom:1em;
}

ol li, ul li
{
    margin-left:0;
    text-align: -webkit-match-parent;
}

ol:last-child, ul:last-child
{
    margin:0;
}

li > p
{
    margin-bottom:0.5em;
}

li > ol, li > ul
{
    margin-top: 0.5em !important;
    padding-left:2em;
}

/* Description list elements */

dl
{
    margin-bottom:1em;
}

dl dt
{
    font-weight:bold;
    margin-bottom:0.3em;
}

dl dd
{
    margin-left:0;
    margin-bottom:0.5em;
}

dl dd:last-child, dl:last-child
{
    margin-bottom:0;
}

/* Block code */

pre, code
{
    white-space: pre;
}

pre
{
    width: 90%;
    border: 0px;
    overflow: auto;
    margin-bottom: 2em;
    line-height: 1.6em;
    -webkit-border-radius: 3pt;
    -moz-border-radius: 3pt;
    padding: 1em 1.5em;
    tab-size: 4;
    text-align: start;
}

code
{
    font-size: 85%;
    padding: 2pt 3pt;
    -webkit-border-radius: 2pt;
    -moz-border-radius: 2pt;
}

pre > code
{
    padding: 0;
}

/* MD Plugins */

.flowchart, .flow
{
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent !important;
}

.mermaid
{
    background: transparent !important;
}

.pieTitleText {
    font-size: 1.2em !important;
}

/* Block quotes */

blockquote
{
    margin-left: 0;
    margin-right: auto;
    width: 96%;
    padding: 0 0.5em;
    border-left: 3px solid;
}

blockquote > *
{
    text-align: inherit;
}

/* Tables */

table
{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-spacing: 0;
}

table th
{
    padding: 3px 10px;
    border-top: 1px solid;
    border-left: 1px solid;
}

table td
{
    padding: 3px 10px;
    border-top: 1px solid;
    border-left: 1px solid;
}

caption
{
    font-size: 1.0em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    font-weight: normal;
}

/* Images */

figure
{
    display: block;
    text-align: center;
    margin: auto;
}

img
{
    border: none;
    margin: 1em auto;
    max-width: 100%;
}

figcaption
{
    font-size: 1.0em;
    font-style: italic;
}

mark
{
    padding:1px 3px;
}

